@import './base.css';

main{
    min-height: 100vh;
    padding: 2rem 1rem 6rem 1rem;
    overflow-y: scroll ;
}
a {
    text-decoration: none;
}
h1 {
    margin: 0 !important;
}
.aks-select {
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: var(--full-border-radius);
    padding: var(--input-padding);
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    width: 100%;
}
option[disabled] {
    color: var(--gray-color-300);
}
ion-router-outlet {
    overflow-y: scroll;
}